

  .container {
  border: 5px solid #2362c0;
  border-radius: 12px;
  width: 40%;
  height: 800px;
  font-size: 2em;
  font-family: "Noto Sans", sans-serif;
  color: lightgray;
}

.collapse .navbar-nav .nav-item .nav-link {  
color: white;
}



